%div<
  %div #{comment.body}
  %div Author: #{comment.author.full_name}
  %div Created: #{time_ago_in_words(comment.created_at)} ago
  - if comment.previous_state.name != comment.state.name
    %div State changed from #{comment.previous_state.name} to #{comment.state.name}
  - else
    %div State: #{comment.state.name}
%hr
