- content_for(:title) { 'Set new password' }

= form_for(resource, as: resource_name, url: password_path(resource_name), method: :put) do |f|
  = f.hidden_field :reset_password_token

  %div<
    %div= f.label :password
    %div= f.password_field :password, autocomplete: 'off'
    %div= get_error_message_for(resource, :password)
    
  %div<
    %div= f.label :password_confirmation
    %div= f.password_field :password_confirmation, autocomplete: 'off'
    %div= get_error_message_for(resource, :password_confirmation)

  %div= f.submit 'Update password'
