- content_for(:title) { 'Set new password' }

= form_for(resource, as: resource_name, url: edit_user_password_reset_path, method: :put) do |f|
  = f.hidden_field :reset_password_token
  %div<
    %div= f.label :password, 'New password'
    %div= f.password_field :password, autocomplete: 'off', placeholder: 'at least 6 characters'
    %div= get_error_message_for(resource, :password)
  %div<
    %div= f.label :password_confirmation, 'New password, again'
    %div= f.password_field :password_confirmation, autocomplete: 'off'
    %div= get_error_message_for(resource, :password_confirmation)
  %div= f.submit 'Update password'
