- content_for(:title) { 'Reset your password' }

= form_for(resource, as: resource_name, url: user_password_reset_path, method: :post) do |f|
  %div<
    %div= f.label :email
    %div= f.email_field :email
    %div= get_error_message_for(resource, :email)
  %div= f.submit 'Send password reset instructions'
