%div= link_to 'Home', root_path
- if !user_signed_in?
  - if current_page?('/users/sign_in')
    %div= link_to 'Sign Up', new_user_registration_path
  - else
    %div= link_to 'Sign In', new_user_session_path
- else
  %div #{current_user.email}
  %div= link_to 'Change email', edit_account_email_path
  %div= link_to 'Change password', edit_account_password_path
  %div= link_to 'Sign Out', destroy_user_session_path, method: :delete
