- content_for :form_error do
  %div= get_error_message_for_form(ticket)
  %div= get_errors_if_dev_env(ticket)

= form_for [project, ticket] do |f|
  %div<
    %div= f.label :name
    %div= f.text_field :name
    %div= get_error_message_for(ticket, :name)
  %div<
    %div= f.label :description
    %div= f.text_field :description
    %div= get_error_message_for(ticket, :description)
  %div<
    %div= f.label :tag_names, 'Tags'
    %div= f.text_field :tag_names
    %div= get_error_message_for(ticket, :tag_names)
  %div= f.submit
