- content_for :form_error do
  %div= get_error_message(project)

= form_for project do |f|
  %div<
    %div= f.label :project_name
    %div= f.text_field :project_name
    %div= get_error_message_for(project, :project_name)
  %div<
    %div= f.label :description
    %div= f.text_field :description
    %div= get_error_message_for(project, :description)
  %div= f.submit
