- content_for(:title) { 'Projects' }
- content_for(:subtitle) { 'projects#index' }

%div= link_to "New", new_project_path

- @projects.each do |project|
  %div<
    %div= project.name
    %div= link_to "Show", project_path(project)
    %div= link_to "Edit", edit_project_path(project)
    %div= link_to "Destroy", project_path(project), method: :delete
