- content_for(:title) { @project.name }
- content_for(:subtitle) { @project.description }

%div= link_to 'Back', projects_url
%div= link_to 'Edit', edit_project_path(@project)
%div= link_to 'Destroy', project_path(@project), method: :delete
%hr

%div= link_to 'New Ticket', new_project_ticket_path(@project)
%hr

= render @project.tickets.order(created_at: :desc)
