- content_for(:title) { 'Sign In' }

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %div<
    %div= f.label :email
    %div= f.email_field :email

  %div<
    %div<
      = f.label :password
      %span= link_to 'Forgot?', new_user_password_path
    %div= f.email_field :password, autocomplete: 'off'

  - if devise_mapping.rememberable?
    %div<
      = f.check_box :remember_me
      = f.label :remember_me

  %div= f.submit 'Sign In'
