- content_for(:title) { 'Change email address' }
= render partial: 'users/form_error'

- if resource.pending_reconfirmation?
  %div New email awaiting confirmation: #{resource.unconfirmed_email}
  %div= link_to 'Resend confirmation email', new_user_reconfirmation_path
  %hr

= form_for(resource, url: {action: 'update'}) do |f|
  %div Current email: #{resource.email_was}
  %div<
    %div= f.label :email, 'New email'
    %div= f.email_field :email
    %div= get_error_message_for(resource, :email)
  %div<
    %div= f.label :current_password
    %div= f.password_field :current_password, autocomplete: 'off'
    %div= get_error_message_for(resource, :current_password)
  %div= f.submit 'Update email'
